In [10]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree


file_path = r"C:\Users\User\Downloads\loan_data.csv"
dataset = pd.read_csv(file_path)
#print(len(dataset))
print(dataset.head())

   credit.policy             purpose  int.rate  installment  log.annual.inc  \
0              1  debt_consolidation    0.1189       829.10       11.350407
1              1         credit_card    0.1071       228.22       11.082143
2              1  debt_consolidation    0.1357       366.86       10.373491
3              1  debt_consolidation    0.1008       162.34       11.350407
4              1         credit_card    0.1426       102.92       11.299732

     dti  fico  days.with.cr.line  revol.bal  revol.util  inq.last.6mths  \
0  19.48   737        5639.958333      28854        52.1               0
1  14.29   707        2760.000000      33623        76.7               0
2  11.63   682        4710.000000       3511        25.6               1
3   8.10   712        2699.958333      33667        73.2               1
4  14.97   667        4066.000000       4740        39.5               0

   delinq.2yrs  pub.rec  not.fully.paid
0            0        0               0
1            0        0               0
2            0        0               0
3            0        0               0
4            1        0               0

In [12]:
print("Dataset lenght:: ",len(dataset))

Dataset lenght::  9578

In [14]:
print("Dataset shape:: ",len(dataset.shape))

Dataset shape::  2

In [15]:
print("Dataset lenght:: ",len(dataset))
print("Dataset shape:: ",len(dataset.shape))

Dataset lenght::  9578
Dataset shape::  2

In [16]:
print("dataset::")
dataset.head()

dataset::

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [26]:
X = dataset.values[:, 1:5]
Y = dataset.values[:, 0]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=100)
clf_entropy = DecisionTreeClassifier(criterion="entropy", random_state=100, max_depth=3, min_samples_leaf=5)
clf_entropy.fit(X_train, Y_train)
Y_pred = clf_entropy.predict(X_test)
print(f"Accuracy: {accuracy_score(Y_test, Y_pred)}")

Accuracy: 0.8048016701461378

In [29]:
Y_pred_en=clf_entropy.predict(X_test)
print(Y_pred_en)

[1. 1. 1. ... 1. 1. 1.]

In [30]:
print("Accuracy is ", accuracy_score(Y_test,Y_pred_en)*100)

Accuracy is  80.48016701461378